.nav_1{
    width: 80%;
}
.nav_1 img{
    width: 100%;
}
@font-face{
	font-family: "zidingyi";
	src: url("fonts/icomoon.eot");
	src: url("fonts/icomoon.eot?iefix") format("fonts/embedded-opentype"),url("fonts/icomoon.woff") format("woff"),url("fonts/icomoon.ttf") format("'truetype'"),url("fonts/icomoon.svg#zidingyi") format("svg");
}

#sp1{
    /* width: 10%; */
    /* height: 3%; */
    font-family: "zidingyi";
    font-size: 25px;
        
}
#sp1::before{
  content: "\e9ba";
}
.nav_2 ul{
    float: right;
    display: none;
    width: 100%;
}
.nav_2 ul li{
    line-height:78px; 
    width: 100%;
    height: auto;
    border-bottom: 1px #f6f6f6 solid;
    background: #fff;
}
.box{
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
}
.bg li{
  width: 10%;
  height: 110px;
  background: url("../img/1503737297.jpg") no-repeat center top;
  float: left;
  background-size:100%;
  z-index: 1;
}
#sp1{
      display:block;
      
}
.content .content_1 .img{
    display: none;
  }
  
  .content .content_1 .video{
  width: 100%;
  margin-left:0;
  }
  .content2 {
    display: none;
    }
    .content5 .content5_1{
        width:100%;
        text-align: center;
    }
    .content6 ul li{
        width: 100%;
        margin: 0;
    }
    .content7 .content7_1  .content7_1_1{
        width:100%;
      }
      .content7 .content7_1  .content7_1_1 img{
        width:30%;
      }
      .content7 .content7_1 .content7_1_2{
        width:100%;
        margin-left:0px; 
       
      }
      .content7 .content7_1 .content7_1_2 img{
        width:30%; 
      }
      
      