*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 37px;
    background-color: black;
}
.head .head_1{
    width: 70%;
    height: 37px;
    background-color:black;
    margin: 0 auto;
}
.head .head_1 ul {
    float: right;
    display: inline-block;
    height: 37px;
    line-height: 37px;
}
.head .head_1 ul li{
    list-style: none;
    float: left;
    
}
.head .head_1 ul li a{
    height: 37px;
    color: white;
    display: inline-block;
    line-height: 37px;
    text-decoration: none;
}

.nav{
   padding-top:20px; 
    width: 100%;
    margin: 0 auto;
}
.nav_1{
    float: left;
}
.nav_2{
    width: 100%;
}
.nav_2 ul{
  margin-top:29px;
    float: right;
    /* display: none; */
}
.nav_2 ul li{
    display: inline-block;
    list-style: none;
    float: left;
    color: #000;
    /* background-color: red; */
    text-align: center;
    height: 77px;
    width: 108px;
    line-height:78px; 
}
.nav_2 ul .active{
        background-color: black;
        color: white;
}
#sp1{
    display: inline-block;
    width:50px;
    height: 50px;
    background-color: red;
    /* margin-right:100px; */
   
    position: absolute;
      right:0;
      top:90px;
      display: none;
}
/* //轮播 */
.box{
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
  }
  .bg{
    width: 1000%;
    position: absolute;
    top:0;
    left:0;
  }
  .bg li{
    width: 10%;
    height: 380px;
    background: url("../img/1503737297.jpg") no-repeat center top;
    float: left;
    background-size:100%;
    z-index: 1;
  }
  
  .jiantou{
    display: block;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bolder;
    font-size: 50px;
    position: absolute;
    top:50%;
    display: none;
  }
  .next{
    right: 100px;
  }
  .prew{
    left: 100px;
  }
  .button{
    width: 169px;
    margin: 350px auto;
  }
  .button i{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    position: relative;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
  }
  .on{
    background: skyblue;
    border:1px solid yellow;
  }
  .content{
      margin-top:20px; 
        width: 100%;
        background-color: rgb(228, 239, 245);
       overflow: hidden;
  }
  .content .content_1{
      width: 1100px;
      margin: 0 auto;
  }
  .content .content_1 img{
      margin-top:20px; 
      margin-bottom:20px; 
  }
  .content .content_1 .video{
    width: 557px;
    height: 400px;
    margin-left:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .content .content_1   .video .video1{
        width: 557px;
        height: 400px;
  }
  .content .content_1 .text{
      width: 270px;
      height: 300px;
      margin: auto 0;
      margin-left:30px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size:1em;
  }
  .content .content_1 .text span{
      border:1px solid black;
      float: right;
  }
  .content .content_1 div{
      float: left;
  }
  .content2 .content_2{
    width: 1100px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  .content2 .content_2 span{
    display: block;
    height: 24px;
    line-height: 24px;
    letter-spacing: 10px;
    font-size: 15px;
    text-transform: uppercase;
    color: #515151;
  }
  .content2 .content_2 .text_2{
      width: 445px;
      height: 338px;
  }
  .content2 .content_2  .float{
      float: left;
      margin-top:20px;   
  }
  .content3{
      width:100%;
      font-size:0.9em;
      text-align: center;
      background: url(../img/09.png);
  }
  .content3 span{
    display: block;
    height: 24px;
    line-height: 24px;
    letter-spacing: 10px;
    font-size: 15px;
    text-transform: uppercase;

  }
  .content4{
    width:100%;
    /* overflow: hidden; */
  }
  .content4 .content4_1{
      width:70%;
      font-size:0.9em;
      text-align:center;
      margin: 0 auto;
      overflow: hidden;


  }
  .content4 .content4_1 span{
    display: block;
    height: 24px;
    line-height: 24px;
    letter-spacing: 10px;
    font-size: 15px;
    text-transform: uppercase;
 
  }
  .content4 .content4_1 ul li img{
    width: 259px;
    height: 233px;
  }
  .content4 .content4_1 ul li{
      list-style: none;
      float: left;
      margin-left:15px; 

  }
  .content5{
    width:100%;
  }
  .content5 .content5_1{
      width:1100px ;
      font-size:0.9em;
      text-align:center;
      margin: 0 auto;

  }
  .content5 .content5_1 span{
    display: block;
    height: 24px;
    line-height: 24px;
    letter-spacing: 10px;
    font-size: 15px;
    text-transform: uppercase;
 
  }
  .content6 {
    width:70%;
    font-size:0.9em;
    margin: 0 auto;
  }
  .content6 ul{
    display: inline-block;
    width:100%;
    height: 100%;
  }
  .content6 ul li{
    position: relative;
    display: inline-block;
    margin: 30px 0 10px 91px;
    padding-left: 60px;
    width: 418px;
    height: 116px;
    border: 1px solid #9ba5ae;
    font-size:0.5em; 
  }
  .content6 ul li i{
    position: absolute;
    left: -47px;
    top: 13px;
    font-style: normal;
    display: block;
    width: 94px;
    height: 90px;
    color: #000;
    background: url(../img/icon.png);
    text-align: center;
    font-size: 30px;
    font-weight: bold;

  }
  .content6 ul li i span{
    font-size: 15px;
  }
  .content7{
    width:100%;
    background-color: rgb(228, 238, 245)
  }
  .content7 .content7_1{
      width:1100px;
      font-size:0.9em;
      margin: 0 auto;
      overflow: hidden;
  }
  .content7 .content7_1 div{
    float: left;
  }
  .content7 .content7_1  .content7_1_1{
    width:50%;
  }
  .content7 .content7_1  .content7_1_1 img{
    width:100%;
  }
  .content7 .content7_1 .content7_1_2{
    width:40%;
    margin-left:20px; 
   
  }
  .content7 .content7_1 .content7_1_2 img{
    width:100%; 
  }
  .foot{
    width:100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 1em;
  }
  .foot p{
    width:100%;
    text-align: center;
  }
  